.container-mision-vision{
    text-align: justify;
}
.container-mision{
    padding: 50px 50px 20px 20px;
    display: flex;
    text-align: justify;
    background: linear-gradient(to left, #ffcc00, #ff6600);
    border-radius: 50px;
    margin: 5em;
    box-shadow: 20px 30px 20px 0px rgba(25, 140, 228, 0.929);   
}
.container-vision{
    padding: 50px 50px 20px 20px;
    display: flex;
    text-align: justify;
    background: linear-gradient(to left, #ffcc00, #ff6600);
    border-radius: 50px;
    margin: 5em;
    box-shadow: 20px 30px 20px 0px rgba(25, 140, 228, 0.929);
}
.txt-mision{
    margin: 50px;
    display: flex;
}
.tittle-mision{
    padding-top: 50px;
}