*,*::after, *::before{
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    background-color: #AEB6BF;
}
body{
    font-size: 3rem;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav{   
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
    background: rgb(129, 157, 201);
}

.logo-img{
    max-width: 200px;
    height: auto;
    padding-top: 40px;
    }
.nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
}
.nav-toggler div{
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: rgb(0, 0, 0);
    transition: 0.4s ease-in;

}
.nav-toggler{
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 768px){
    .nav-toggler{
        display: block;
    }
    .nav-menu{
        position: fixed;
        top: 7vh;
        right: 0;
        width: 50%;
        height: 93vh;
        background: rgb(129, 157, 201);
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }
}
.nav-active{
    transform: translateY(0);
}
.toggle .line1{
    transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-4px, -5px);

}